.required {
    color: red !important;
}

nav svg {
    max-width: 25px !important;
}

.floating_btn a {
    text-decoration: none;
}

.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}

.text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: unset;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(58, 53, 65, 0);
}

.main-overlay-bg {
    background-image: url("../../assets/img/backgrounds/dance-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    opacity: 0.9;
}

.main-overlay-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* blue color with 50% opacity */
    z-index: -1;
    /* Ensure the overlay doesn't cover content */
}

.card {
    background: rgba(0, 0, 0, 0.1);
    /* Semi-transparent background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    backdrop-filter: blur(10px);
    /* Frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
}

.card-body {
    color: #ffffff;
}

.card-body h4 {
    color: #ffffff;
}

.btn-link {
    background: none !important;
    border: none;
    box-shadow: none !important;
    color: #5ce2e5 !important;
}

.card-body a {
    color: #5ce2e5 !important;
}

.card-body .btn {
    background-color: #5ce2e5;
    border-radius: 3rem;
    padding: 10px 20px 10px 20px;
    color: #44647d;
    font-weight: 900;
    width: fit-content;
    display: flex;
    column-gap: 10px;
    border: none;
}

.card-body .btn:hover {
    background-color: #44647d !important;
    border-radius: 3rem;
    padding: 10px 20px 10px 20px;
    color: #44647d;
    font-weight: 900;
    width: fit-content;
    display: flex;
    column-gap: 10px;
    color: #5ce2e5 !important;
    border: none;
}

.card-body .form-check-label {
    color: #ffffff;
    cursor: pointer;
}

.card-body .form-floating > label {
    color: #9b9b9b;
}

.card-body .form-floating {
    background-color: #fff;
    border-radius: 0.375rem !important;
}

.card-body .form-control {
    background-color: #ffffff;
}

.wizard #mynavTab > li:not(.active) a i {
    color: #d0d5d7 !important;
}

.form-check-input:checked {
    background-color: #5ce2e5;
    border-color: #5ce2e5;
}

.wizard .nav-tabsxxx > li.active > a i {
    color: #5ce2e5 !important;
}

.wizard li.active span.round-tab {
    background: #5ce2e5 !important;
    color: #000000 !important;
    border-color: #5ce2e5 !important;
}

.card-header {
    color: #fff;
}

.table > :not(caption) > * > * {
    color: #000 !important;
    background-color: #fff !important;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80% !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 0 !important;
}

#mynavTab {
    justify-content: space-between !important;
}

@media (max-width: 768px) {
    .wizard .nav-tabsxxx > li a i {
        display: none;
    }
}
.form-floating-outline :not(select):focus + label,
.form-floating-outline :not(select):focus + span {
    color: #5ce2e5;
}
.form-floating-outline .form-control:focus,
.form-floating-outline .form-select:focus {
    border-color: #5ce2e5 !important;
}

.wizard .nav-tabsxxx > li:not(.active) a i {
    color: #000 !important;
}

.main-container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container h2 {
    /* margin: 0 0 80px 0; */
    color: #555;
    font-size: 30px;
    font-weight: 300;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 220px;
    height: 240px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-btn > i {
    color: #ffffff;
    background-color: #9c6868;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(2);
    border-radius: 50px;
    padding: 3px 5px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .hobbies-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.radio-btn .hobbies-icon i {
    color: #ffdae9;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.custom-radio input:checked + .radio-btn {
    border: 2px solid #9c6868;
}

.custom-radio input:checked + .radio-btn > i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

label.disabled,
.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}
a.cnfBtn {
    color: #44647d !important;
}
a.cnfBtn:hover {
    color: #5ce2e5 !important;
}
.form-control::placeholder {
    color: #a9a9a9 !important;
}
